* {
   font-family: Verdana;
   background-color: black;
   color: white;
   text-align: center;
}

.title {
    font-weight: normal;
    font-size: 50px;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16px;
    
}

footer {
    text-align: right;
    color: gray;
}